// Animate slides as they come into viewport

.hero-slider-images {
	pointer-events: none;
	.flickity-page-dots { display: none; }
}

.flickity-slider {
	height: 100%;
}
.flickity-viewport {
	height: inherit;
}

.flickity-page-dots {
	position: absolute;
	top: 25px;
	padding: 0px;
	text-align: center;
	margin: 0;
	width: 100%;
	z-index: 10;
	
	@include respond-to(medium) {  }
	@include respond-to(large) {  }
	li {
		display: inline-block;
		margin: 0 8px 0 0;
		opacity: 1;
		width: 8px;
		height: 8px;
		background-color: #C8C8C8;
		position: relative;
		cursor: pointer;
		border-radius: 50%;

		&.is-selected {
			background-color: #fff;
		}
	}
}