a { 
	color: darken( $main_copy, 10 );
	&:hover { color: $main_copy;  }
}

h1, h2, h3, h4, h5, h6 {
	@include font-smoothing();
	margin: 15px 0;
	line-height: 1.1;
	color: #000;
	font-family: $opensanscondensed;
}

h1 {
	font-size: 2.5em;
	color: #000;
	@include respond-to(medium) { font-size: 4.68em; }
}

h2 {
	text-transform: uppercase;
	font-size: 4.5em;
	line-height: .9;
	margin-bottom: 30px;
	letter-spacing: -4px;
	@include respond-to(medium) { font-size: 6.875em; }
	.line {
		position: relative;
		display: inline-block;
		margin-top: .3em;
		&:before {
			content: '';
			width: 100%;
			position: absolute;	
			height: 12px;
			background-color: #000;
			top: -.18em;
		}
	}
}

h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	@include respond-to(medium) { font-size: 1.75em; }
}

h4 {
	font-size: 1.7em;
	@include respond-to(medium) { font-size: 1.61em; }
}

h5 {
	font-size: 1.28em;
	@include respond-to(medium) { font-size: 1.125em; }
}

h6 {
	font-size: 1.125em;
}

.ucase { text-transform: uppercase; }

p {
	@include font-smoothing();
	font-size: 1em; 
	line-height: 1.5;
}

ul { 
	list-style: none;
	padding-left: 0; 
	margin-left: 0;
}

.reverse {
	color: #fff;
	a { color: #fff; }
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
	h2 {
		.line {
			&:before {
				background-color: #fff;
			}
		}
	}
}


.move-left
{
left:100px;
position:absolute;
}

.button {
	margin-top: 15px;
	display: inline-block;
	text-transform: uppercase;
	font-family: $opensanscondensed;
	color: #000;
	background-color: #fff;
	border: 4px solid #000;
	padding: .75em 1em;
}