@import "libs/normalize";
@import "variables/variables";
@import "mixins/mixins";

@import "partials/type";
@import "partials/flickity";

@import "partials/helpers";

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
	background-color: #fff;
	font-family: $opensans;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	color: rgba(0,0,0,1);
	@include respond-to(small) { margin-right: 150px; }
}

a {
	text-decoration: none;
	color: #5eabed;
}

strong { font-weight: 600; }

.wrap {
	width: 100%;
	max-width: 1168px;
	margin: 0 auto;
	@include respond-to(medium) { padding-right: 200px; }
}

.site-body {
	width: 100%;
	height: 100%;
	position: relative;
}

.brand {
	width: 100%;
	height: 100vh;
	position: absolute;
	right: 0;
	overflow: visible;
	z-index: 10;
	pointer-events: none;
	@include respond-to(small) { 
		position: fixed;
		width: 150px;
		background-color: #fff; 
	}
	.main-logo {
		width: 150px;
		top: 10px;
		right: 10px;
		position: absolute;
		
		margin: auto;
		img { 
			width: 100%;
			height: auto; 
		}
		@media (min-height: 400px) {
			width: 220px;
			height: 150px;
			left: 0;
			right: 0;
			top:0;
			bottom: 50vh;
		}
		@include respond-to(small) {
			width: 130px;
			right: 10px;
			left: initial;
			margin-top: 10px;
			position: fixed;
			@media (min-height: 900px) {
				margin-top: 40px;
				width: 180px;
				right: 10px;
			}
		}
		@include respond-to(medium) {
			width: 260px;
			height: 150px;
			right: 100px;
			bottom: 0;
			margin-top: auto;
		}
	}
	address {
		@include font-smoothing();
		font-family: $opensanscondensed;
		font-style: normal;
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		color: #fff;
		top: 40vh;
		bottom: 0;
		height: 30px;
		margin: auto;
		font-size: 1.2em;
		pointer-events: none;
		@include respond-to(small) {
			position: fixed;
			top: initial;
			bottom: initial;
			left: initial;
			letter-spacing: 8px;
			color: #000;
			width: 100vh;
			padding: 0 0 0 100px;
			font-size: 1em;
			transform: rotate(90deg) translateY(-110px);
			transform-origin: 0 0;
			@media (min-height: 900px) {
				width: 100vh;
				top: initial;
				letter-spacing: 13.33px;
			}
		}
		@include respond-to(medium) {
			padding: 0;
		}
		
	}
}

.hero-slider {
	@include font-smoothing();
	width: 100%;
	height: 100vh;
	min-height: 375px;
	will-change: transform;
	overflow: hidden;
	outline: none;
	position: relative;

	&:after {
		content: '';
		width: 30px;
		height: 55px;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
		background-image: url(/images/swipe-icon.svg);
		background-repeat: no-repeat;
		@include respond-to(medium) {
			background-image: url(/images/scroll-icon.svg);
			bottom: 30px;
		}
	}
	.slide {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: 
				linear-gradient(
					90deg, rgba(0,0,0,0.54) 16%, 
					rgba(0,0,0,0.00) 100%
			);
		}
		img {
			width: 100%;
			height: 100%;
			@include object-fit(cover, center);
		}
		.text {
			font-family: $opensanscondensed;
			position: absolute;
			padding: 30px;
			text-align: center;
			z-index: 10;
			margin-top: 0;
			bottom: 20px;
			width: 100%;
			@media (min-height: 400px) {
				bottom: initial;
			}
			h2 { display: none; }
			.desc { font-size: 1.25em; }
			@include respond-to(small) {
				max-width: 550px;
				padding: 0 30px;
				text-align: left;
				margin-top: 0;
				h2 { display: block; }
			}
			@include respond-to(medium) {
				left: 100px;
				padding: 0;
			}
		}
	}
}

.intro {
	padding: 50px 30px;
	background-color: #F9F1EA;
	min-height: 100vh;
	height: auto;
	display: flex;
	align-items: center;
	@include respond-to(small) { 
		min-height: 50vh;
		.wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-start;
		}
		.title,
		.para {
			width: 50%;
			padding-right: 30px;
		}
		.title {
			max-width: 480px;
		}
	}

	@include respond-to(medium) { }
}

.interior-slider {
	height: 100vh;
	background-size: cover;
	outline: none;
	will-change: transform;
	overflow: hidden;
	position: relative;
	.slide {
		height: 100vh;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			@include object-fit(cover, center);
		}
	}
}

.floating-photos {
	display: none;
	background-color: #F9F6F5;
	.wrap { 
		position: relative;
		height: 100%; 
		z-index: 2;
	}
	max-height: 400px;
	@include respond-to(small) {
		display: block;
		height: 100vh;
		@media (min-height: 400px) {
			max-height: 560px;
		}
	}
	img { position: absolute; }
	.float01,
	.float02,
	.float03,
	.float04,
	.float05 { 
		width: 100%;
		height: 100%; 
		img {
			transform: scale(0.7);
			@media (min-width: 1024px) {
				transform: scale(0.85);
			}
			@include respond-to(medium) {
				transform: scale(1);
			}
		}
	}
	.float01 img {
		top: -20%;
		left: -10%;
		@media (min-width: 1024px) {
			top: -20%;
			left: -2%;
		}
		@include respond-to(medium) {
			top: -3vh;
			left: -2%;
		}
	}
	.float02 img {
		bottom: 3%;
		left: 5%;
		@media (min-width: 1024px) {
			bottom: 5%;
			left: 10%;
		}
		@include respond-to(medium) {
			bottom: -7.5vh;
			left: 21%;
		}
	}
	.float03 img {
		top: 15%;
		right: 18%;
		@media (min-width: 1024px) {
			top: 10%;
			right: 28%;
		}
		@include respond-to(medium) {
			top: 3vh;
			margin: auto;
			left: 38%;
		}
	}
	.float04 img {
		bottom: 10%;
		right: 10%;
		@media (min-width: 1024px) {
			bottom: -10%;
			right: 20%;
		}
		@include respond-to(medium) {
			bottom: 3vh;
			right: 20%;
		}
	}
	.float05 img {
		bottom: 15%;
		right: -15%;
		@media (min-width: 1024px) {
			bottom: 15%;
			right: -8%;
		}
		@include respond-to(medium) {
			bottom:-5vh;
			right: -5%;
		}
	}
}

.reg-form {
	padding: 50px 30px;
	height: 100vh;
	min-height: 660px;
	background: url(../images/slide01.jpg) center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background-image: 
			linear-gradient(
				90deg, rgba(0,0,0,0.54) 16%, 
				rgba(0,0,0,0.00) 100%
		);
	}
	.text,
	form { max-width: 500px; }
	form {
		display: flex;
		flex-direction: column;
	}
	input { 
		height: 60px;
		width: 100%;
		margin-bottom: 10px;
		padding: 5px 25px;
		color: #000;
		font-family: $opensans;
		line-height: 48px;
		background-color: rgba(#fff, .9);
		border: 1px solid transparent;
		border-radius: 0;
		&[type="tel"] {
			margin-bottom: 30px;
		}
	}
	button {
		display: inline-block;
		font-family: $opensanscondensed;
		font-size: 20px;
		background-color: #fff;
		border: 4px solid #000;
		padding: 0;
		width: 120px;
		margin: 0;
		margin-top: 30px;
		appearance: none;
		&:hover {
			cursor: pointer;
		}
	}
}

.button {
	&:hover {
		cursor: pointer;
	}
}

button {
	letter-spacing: -0.025em;
	font-family: $opensans;
	font-weight: 600;
	font-size: 14px;
	color: #000;
	z-index: 1;
	text-transform: uppercase;
	line-height: 60px;
	left: 25px;
}

::placeholder {
	letter-spacing: -0.025em;
	font-family: $opensans;
	font-weight: 600;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
}

.site-footer {
	padding: 80px 30px 10px;
	min-height: 400px;
	height: 50vh;
	max-height: 450px;
	background-color: #F9F6F5;
	font-size: 14px;
	position: relative;
	display: flex;
	align-items: center;
	.sadie_logo {
		width: 120px;
		position: absolute;
		top: -30px;
		z-index: 1;
		right: 30px;
	}
	.snlogo {
		display: flex;
		align-items: center;
	}
	.person {
		margin: 25px 0;
		a { 
			display: block;
			color: #000;
			margin: 5px 0; 
		}
	}
	strong {
		display: block;
		text-transform: uppercase;
		font-family: $opensanscondensed;
		font-size: 18px;
	}
	.fivecred {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-family: $opensanscondensed;
		p { 
			line-height: 1;
			margin-right: 15px; 
		}
	}
	@include respond-to(small) {
		min-height: initial;
		padding: 10px 30px;
		min-height: none;
		height: auto;
		.sadie_logo { display: none; }
		.wrap {
			padding-right: 0;
			display: flex;
			flex-wrap: wrap;
		}
		img,
		.person { margin-right: 40px; }
	}
	@include respond-to(medium) {
		.fivecred { margin-left: auto; }
	}
}