/* Colors */

$primary_color: 	#1a1a1a;
$main_copy: 			#595959;
$dark_grey: 			#4A4A4A;

/*	Grid system, define how many columns */
$cols: 4;
$col: calc(100% / #{$cols});
$gutter: 1.5em;
$col_pad: 2.7775em;

/* Responsive Break Points */
$sm_bp:		47.5em;
$med_bp:	81.25em;
$lg_bp:		87.5em;
$xl_bp:		106.25em;

/* Type */
$opensans: 'Open Sans', sans-serif;
$opensanscondensed: 'Open Sans Condensed', sans-serif;

/* Animation */
$elastic_easing : cubic-bezier(0.68, -0.55, 0.265, 1.55);